@import "../../assets/css/variables.css";

:root{
  background-color: var(--background-primary);
}

.app-container{
  display:flex;
  height:100vh;
}

.content-container{
  flex-grow:1;
  padding:20px;
  overflow-y: auto;
}