@import "../../assets/css/variables.css";

.searchInputs {
    display: flex;
    gap: 10px;
    margin-left: 300px;
    margin-top: 20px;
  }
  .input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
  }

.submit{
    color:black;
    outline: invert;
    font-size: large;
    height:50px;
}

.searchWrapper{
    color:black;
    margin-left: 300px;
    margin-top: 10px;
    height:fit-content;
    width:875px;
    background-color: white;
}

.title{
    height:fit-content;
    width:800px;
    background-color: var(--button-primary);
    font-size:large;
    color:black;
}


.result{
    color:black;
    height:fit-content;
    background-color:white;
    outline:invert;
    outline-width: 5px;
    font-size: medium;
}
