@import "../../assets/css/variables.css";

.input{
    color:black;
    padding: 1px;
    margin-left: 300px;
    width:800px;
    height: 50px;
    font-size: larger;
}

.submit{
    color:black;
    outline: invert;
    font-size: large;
    height:50px;
}

.searchWrapper{
    color:black;
    margin-left: 300px;
    margin-top: 10px;
    height:fit-content;
    width:875px;
    background-color: white;
}

.title{
    height:fit-content;
    width:800px;
    background-color: var(--button-primary);
    font-size:large;
    color:black;
}


.result{
    color:black;
    height:fit-content;
    background-color:white;
    outline:invert;
    outline-width: 5px;
    font-size: medium;
}